<div class="card">
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/placeholder_image.jpeg" class="player-image">
        </div>
        <div class="col-8">
            <div class="row" style="margin-top: 20px;">
                <div class="col-4"><code class="title">Name</code></div>
                <div class="col-8"><code class="value">{{player.name}}</code></div>
            </div>
            <div class="row">
                <div class="col-4"><code class="title">Age</code></div>
                <div class="col-8"><code class="value">{{player.age}}</code></div>
            </div>
            <div class="row">
                <div class="col-4"><code class="title">Role</code></div>
                <div class="col-8"><code class="value">{{player.role}}</code></div>
            </div>
            <div class="row">
                <div class="col-4"><code class="title">Runs</code></div>
                <div class="col-8"><code class="value">{{player.runs}}</code></div>
            </div>
            <div class="row">
                <div class="col-4"><code class="title">Team</code></div>
                <div class="col-8"><code class="value">{{player.team.name}}</code></div>
            </div>
        </div>
    </div>
</div>
